<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="default" connectionString="server=localhost;User Id=root;password=84089809011053;database=logicop;Persist Security Info=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="logicopEntities" connectionString="metadata=res://*/Reportes.Model1.csdl|res://*/Reportes.Model1.ssdl|res://*/Reportes.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=84089809011053;Persist Security Info=True;database=logicop&quot;"
      providerName="System.Data.EntityClient" />
    <add name="smacop2.Properties.Settings.logicopConnectionString"
      connectionString="server=localhost;User Id=root;password=84089809011053;Persist Security Info=True;database=logicop"
         
      providerName="MySql.Data.MySqlClient" />
    <add name="smacop2.Properties.Settings.logicopConnectionString1"
      connectionString="server=localhost;User Id=root;password=84089809011053;database=logicop;Persist Security Info=True"
      providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
</configuration>